body{
    background: coral;
}
.container{
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 29px 98px 187px;
    margin: 28px;
    }

.btn{
    background-color: tomato;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 30px 15px 0;
    }

    h1{
    color:coral;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 30px 73px 0;

    }
    .citation{
        color: coral;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }